<!doctype html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'CSS/login.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/CSS/Bootstrap.css' %}" type="text/css">
    <title>Login</title>
</head>

<body class="body" id="body">
    {% include 'navbar.html' %}
    <div class="half pagebg">
        <div class="contents order-2 order-md-1">
            <div class="container">
                <div class="row align-items-left justify-content-left">
                    <div class="col-md-7">
                        <form action="/login/" method="post" autocomplete="off">
                            {% csrf_token %}
                            <div class="form-group first">
                                <label for="username" spellcheck="false" autocapitalize="false">Username : </label>
                                <input type="text" class="form-control" placeholder="Your Username" id="username"
                                    name="username">
                            </div>
                            <div class="form-group last mb-3">
                                <label for="password">Password : </label>
                                <input type="password" class="form-control" placeholder="Your Password" id="password"
                                    name="password">
                            </div>
                            {% if messages %}
                            {% for message in messages %}
                            <span class="alertmassage" style="font-size: 10px;color: red;">
                                {{message}}
                            </span>
                            {% endfor %}
                            {% else %}
                            <span class="alertmassage" style="font-size: 10px;color: red;">
                                &nbsp
                            </span>
                            {% endif %}
                            <br>
                            <button type="submit" class="btn btn-block btn-primary">Continue </button><br>
                            <a href="/signup/" style="position: relative;text-decoration: none;color:aliceblue;">Not a
                                user ? Create account .</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{% static 'JS/Bootstrap.js' %}"></script>
</html>