<!doctype html>
{%load static%}
<html lang="en">

<head>
    <title>Sign Up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'CSS/sign_up.css' %}">
    <link rel="stylesheet" href="{% static '/CSS/Bootstrap.css' %}" type="text/css">
</head>

<body class="body" id="body">
    {% include 'navbar.html' %}
    <div class="pagebg">
        <section class="ftco-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <div class="wrap d-md-flex">
                            <div class="login-wrap p-4 p-md-5">
                                <div class="data">
                                    <form action="/signup/" class="signup-form" method="post" autocomplete="off">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group d-flex align-items-center">
                                                    <label class="label" for="first name">First
                                                        Name</label>
                                                    <input type="text" class="form-control" placeholder="First Name"
                                                        name="fname">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group d-flex align-items-center">
                                                    <label class="label" for="last name">Last
                                                        Name</label>
                                                    <input type="text" class="form-control" placeholder="Last Name"
                                                        name="lname">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group d-flex align-items-center">
                                                    <label class="label" for="email">Email Address</label>
                                                    <input type="text" class="form-control"
                                                        placeholder="example@email.com" name="email">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group d-flex align-items-center">
                                                    <label class="label"
                                                        for="username">Username</label>
                                                    <input type="text" class="form-control" placeholder="Username"
                                                        name="uname">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group d-flex align-items-center">
                                                    <label class="label"
                                                        for="phone">Password</label>
                                                    <input type="password" class="form-control" placeholder="Password"
                                                        name="pass1">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group d-flex align-items-center cp">
                                                    <label class=" cp2" for="password">Confirm Password</label>
                                                    <input type="password" class="form-control cp3"
                                                        placeholder="Enter Password again" name="pass2">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group d-flex align-items-center cp">
                                                    <label class="userType" for="userType">User Type</label>
                                                    <select name="userType" class="option other" id="typechoice">
                                                        <option value="F" class="op">Farmer</option>
                                                        <option value="U" class="op" selected>User</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        {% if messages %}
                                        {% for message in messages %}
                                        <span class="alertmassage" style="font-size: 10px;color: red;">
                                            {{message}}
                                        </span>
                                        {% endfor %}
                                        {% else %}
                                        <span class="alertmassage" style="font-size: 10px;color: red;">
                                            &nbsp
                                        </span>
                                        {% endif %}
                                </div>

                                <div class="col-md-12 my-4">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="form-group footerGp">
                                                <button type="submit" class="btn btn-secondary submit p-3">Create an
                                                    account</button>
                                                <a href="/login/" class="toLogin"
                                                    style="position: relative;left: 10%;text-decoration: none;color:aliceblue;">Already
                                                    a user? Login.</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
<script src="{% static 'JS/Bootstrap.js' %}"></script>
</html>